:host { 
    display: flex; 
    justify-content: center; 
    margin: 100px 0px; 
} 

mat-card { 
    width: 400px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
} 

mat-card-title { 
    display: flex; 
    justify-content: center; 
    margin-top: 10px !important; 
}

mat-card-subtitle { 
    display: flex; 
    justify-content: center; 
} 

mat-form-field { 
    width: 100%; 
    min-width: 360px; 
} 

mat-raised-button { 
    display: flex; 
    justify-content: center; 
    width: 100%; 
    min-width: 360px; 
} 

input[type="text"], 
input[type="password"] { 
    width: 100%; 
    box-sizing: border-box; 
} 

p.password-link, 
p.register-link { 
    width: 100%; 
    text-align: center; 
    margin-top: 10px; 
} 

button[type="submit"], 
a.register-link { 
    width: 100%; 
}