<mat-card>
    <mat-card-header>
        <img src="http://www.cotiinformatica.com.br/imagens/logo-coti-informatica.png" />
    </mat-card-header>
    <mat-card-title>
        Acesso ao sistema
    </mat-card-title>
    <mat-card-subtitle>
        Informe suas credenciais de acesso:
    </mat-card-subtitle>
    <mat-card-content>

        <!-- exibir o componente de mensagens -->
        <app-messages [texto]="mensagem"></app-messages>

        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <mat-label>Nome de usuário:</mat-label>
                    <input matInput type="text" placeholder="Digite aqui" formControlName="username" />
                    <mat-error *ngIf="form.username.touched && form.username.invalid">
                        <span *ngIf="form.username.errors.required">
                            Por favor, informe seu nome de usuário.
                        </span>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Senha de acesso:</mat-label>
                    <input matInput type="password" placeholder="Digite aqui" formControlName="password" />
                    <mat-error *ngIf="form.password.touched && form.password.invalid">
                        <span *ngIf="form.password.errors.required">
                            Por favor, informe sua senha de acesso.
                        </span>
                        <span *ngIf="form.password.errors.minlength">
                            Por favor, informe no mínimo 8 caracteres.
                        </span>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <button type="submit" mat-raised-button color="primary" [disabled]="!formLogin.valid">
                    Acessar Sistema
                </button>
            </p>
        </form>
    </mat-card-content>
</mat-card>