<mat-card>
    <mat-card-header>
        <mat-card-title>Edição de Estoque</mat-card-title>
        <mat-card-subtitle>Utilize o formulário abaixo para atualizar os dados do estoque</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class="stock-form">
            <div class="form-row">
                <mat-form-field class="full-width">
                    <mat-label>Nome do estoque:</mat-label>
                    <input matInput placeholder="Digite o nome aqui" required>
                </mat-form-field>
            </div>
            <div class="form-row">
                <mat-form-field class="full-width">
                    <mat-label>Descrição do estoque:</mat-label>
                    <textarea matInput placeholder="Digite a descrição aqui"></textarea>
                </mat-form-field>
            </div>
            <div class="form-row">
                <button mat-raised-button color="primary">Salvar Alterações</button>
                <span class="button-spacer"></span>
                <button mat-raised-button color="accent" routerLink="/admin/estoque-consulta">Ir para a
                    consulta</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
