<!-- Menu -->
<mat-toolbar color="primary" class="app-header">
    <div>
        <a href="#" style="color: #fff; text-decoration: none;">
            Controle de estoques
        </a>
    </div>
    <span class="nav-tool-items">
        <a mat-button routerLink="account/login">Acessar Conta</a>
        <a mat-button routerLink="admin/dashboard">Dashboard</a>
        <a mat-button routerLink="admin/estoque-cadastro">Criar Estoque</a>
        <a mat-button routerLink="admin/estoque-consulta">Ver Estoques</a>
    </span>
</mat-toolbar>